
@{
    ViewBag.Title = "PassViewBag";

    var NickName = ViewBag.NickName;
    var Height = ViewBag.Height;
    var Weight = ViewBag.Weight;
    var Married = ViewBag.Married;
    int i = 0;
}

<h2>PassViewBag</h2>

<ul>
    <li>@ViewBag.NickName</li>
    <li>@(ViewBag.Height+5)</li>
    <li>@(ViewBag.Weight+3)</li>
    <li>@ViewBag.Married</li>
</ul>